filter PEER_DEFAULT4 {
  if net = 0.0.0.0/0 then {
    accept;
  }
  reject;
}

filter PEER_DEFAULT6 {
  if net = ::/0 then {
    accept;
  }
  reject;
}

filter BACKBONE4_IN {
  reject;
}

filter BACKBONE4_OUT {
  reject;
}

filter BACKBONE6_IN {
  reject;
}

filter BACKBONE6_OUT {
  reject;
}
