{% for peer in (item.addresses | ipv4) %}
protocol bgp peer_{{ item.name }}_v4 {
    local {{ peer | ipaddr('address') }} as {{ as_number }};
    neighbor {{ peer | ipaddr('peer') }} as {{ as_number }};

    ipv4 {
        next hop self;
        import filter FFDDORF_V4;
        export filter FFDDORF_V4;
    };
}
{% endfor %}

{% for peer in (item.addresses | ipv6) %}
protocol bgp peer_{{ item.name }}_v6 {
    local {{ peer | ipaddr("address") }} as {{ as_number }};
{#
    IPv6 tunnel addresses use `.1` and `.2`
    If there is a previous address in the network (aka local uses `.2`)
    use the previous address, otherwise use the next one.
#}
{% if (peer | previous_nth_usable(1)) %}
    neighbor {{ peer | previous_nth_usable(1) }} as {{ as_number }};
{% else %}
    neighbor {{ peer | next_nth_usable(1) }} as {{ as_number }};
{% endif %}

    ipv6 {
        next hop self;
        import filter FFDDORF_V6;
        export filter FFDDORF_V6;
    };
}
{% endfor %}
